body {
    background-color: aliceblue;
    margin: 0;
}

#container {
    background-color:cornflowerblue ;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr 2fr 1fr ;
    grid-gap: 5px;
}

#bx1 {
    background-color: blueviolet;
    color: white;
    grid-column: 1 / 6 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bx2 {
    background-color: greenyellow;
    grid-row: 2 / 4;
}

#bx3 {
    background-color: orange;
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    display: flex;
}

.bx-footer {
    background-color: red; 
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    border: red 1px solid;
}

#bx3-izq {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bx3-der {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
